.container {
  padding: 20px;
  background-image: linear-gradient(130deg,#a6c0fe -50%,#f68084 150%);
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  height: 100vh;
}

.image {
  border: 5px solid #edecf5;
  background-color:#253D83;
  border-radius: 20px;
  padding: 10px;
  height: 125px;
  width: 125px;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform .5s;
}

.unrevealed {
  transform: rotateY(0deg);
  cursor: pointer;
  background-image: url('../../studentSuper.svg') !important;
}

.revealed, .matched {
  background-color:#edecf5;
  transform: rotateY(180deg);
  background-size: cover;
}
